[submodule "assignment1/tml26_task1"]
	path = assignment1/tml26_task1
	url = https://huggingface.co/datasets/SprintML/tml26_task1
[submodule "assignment2/tml26_task2"]
	path = assignment2/tml26_task2
	url = https://huggingface.co/SprintML/tml26_task2
